{% extends 'base.html' %}
{% load static %}

{% block title %} Pending Approvals {% endblock %}

{%block content %}

      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-user">
              <form method="POST" class="post-form" action=".">
              {% csrf_token %}
                <div class="container">
                  <br>
                  <div class="form-group row">
                  <label class="col-sm-1 col-form-label"></label>
                  <div class="col-sm-4">
                  <h3>Contract Name</h3>
                  </div>
                </div>
                 <div class="form-group row">
                    <input class="form-control" type="text" placeholder="{{ data.contracts.name }}" readonly>
                 </div>

                <div class="form-group">
                  <label for="status">Approve</label>
                  <select class="form-control" id="status" name="status">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </div>

                  <div class="form-group row">
                  <label class="col-sm-1 col-form-label"></label>
                  <div class="col-sm-4">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
                  </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
{% endblock %}
